
// PROJECT COLORS
$primary-blue: #19005F;
$secondary-blue: #3C00E5;
$primary-white: #FFFFFF;
$primary-black: #000000;
$primary-green: #7DBF97;
$secondary-green: #00A03F;


// PROJECT FONT
$primary-font: Roboto, "Helvetica Neue", sans-serif;



