<div *ngIf="isLoaded">

  <div *ngIf="gameStage !== 3" class="game-data-wrapper" style="background: {{getBackGroundColor()}}">
    <div class="mode-badge-text-wrapper">
      <div><img *ngIf="difficultyMode === 'ADVANCED'" class="advanced-mode-image"
                src="../../../assets/advanced_mode.svg" alt="advanced-mode-image">
      </div>
      <div class="mode-badge-text">{{difficultyMode}} MODE</div>
    </div>

    <div class="question-text-wrapper">
      <div class="question-text">Which movie has higher {{categoryMode}}?</div>
    </div>

    <div *ngIf="gameStage === 1 && guessResponse && guessResponse.correct" class="response-message-wrapper correct-response">
      <div><img class="ok-image"
                src="../../../assets/ok_circle.svg" alt="ok-image"></div>
      <div class="response-message-text">You guessed</div>
    </div>

  </div>

  <div *ngIf="gameStage === 3" class="wrong-guess-wrapper wrong-response">
  <div class="response-message-wrapper">
      <div><img class="wrong-image"
                src="../../../assets/no_circle.svg" alt="wrong-image"></div>
      <div class="response-message-text">Wrong answer</div>
  </div>
  </div>


  <div>
    <div class="object-one" (mouseover)="changeImageSrc1(true)" (mouseout)="changeImageSrc1(false)" (click)="guess(movies[0].id, 0)">
      <div><img class="movie-image"
                src="{{imageSrc1}}" alt="first-movie-image"></div>
      <div class="object-title">{{movies[0].originalTitle}}</div>
      <div *ngIf="guessResponse && movieValuesSet"
           class="comparable-value value-one text-a">{{firstMovieValue}}</div>

    </div>


    <div class="object-two" (mouseover)="changeImageSrc2(true)" (mouseout)="changeImageSrc2(false)"  (click)="guess(movies[1].id, 1)">
      <div><img class="movie-image"
                src="{{imageSrc2}}" alt="second-movie-image"></div>
      <div class="object-title">{{movies[1].originalTitle}}</div>
      <div *ngIf="guessResponse && (gameStage === 1 || gameStage === 3) && movieValuesSet"
           class="comparable-value value-two text-a">{{secondMovieValue}}</div>
    </div>
  </div>

  <div class="score-wrapper">
    <div class="high-score">High score: {{highScore}}</div>
    <div class="score">Score:
      <span *ngIf="gameStage !== 1" class="score-value">{{score}}</span>
      <span *ngIf="gameStage === 1 && difficultyMode === 'BEGINNER'" class="score-value-beginner-animated">{{score}}</span>
      <span *ngIf="gameStage === 1 && difficultyMode === 'ADVANCED'" class="score-value-advanced-animated">{{score}}</span>
    </div>
  </div>

  <div><img *ngIf="gameStage === 1 && difficultyMode === 'BEGINNER'" class="plus-one-point-beginner-image"
            src="../../../assets/plus_image_beginner_mode.svg" alt="plus-image">
  </div>

  <div><img *ngIf="gameStage === 1 && difficultyMode === 'ADVANCED'" class="plus-one-point-advanced-image"
            src="../../../assets/plus_image_advanced_mode.svg" alt="plus-image">
  </div>


</div>




