@import 'src/common-components';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.difficulty-selector-and-category-selector-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.difficulty-selector {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.difficulty-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 170px;
  height: 80px;
  font-size: 20px;
}

.category-selector {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.row-with-two-buttons {
  display: flex;
  flex-direction: row;
}

.category-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  width: 170px;
  height: 80px;
  font-size: 20px;
}

.button-wrapper {
  position: absolute;
  bottom: 6vh;
}


@media screen and (max-height: 450px) {

  .wrapper {
    padding-top: 20px;
  }

  .difficulty-selector {
    flex-direction: column;
    margin-top: unset;
  }

  .difficulty-btn, .category-btn {
    height: 60px;
  }


  .difficulty-selector-and-category-selector-wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
  }

}



